@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
  /* width: 250px; */
  width: 100%;
  height: 170px;
  object-fit: cover;
  border: 1px solid #000;
  background: white;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.birthstone-regular {
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
}

.video {
  border: rgb(140, 0, 199);
  border: -moz-linear-gradient(
    331deg,
    rgba(140, 0, 199, 1) 0%,
    rgba(30, 9, 190, 1) 100%
  );
  border: -webkit-linear-gradient(
    331deg,
    rgba(140, 0, 199, 1) 0%,
    rgba(30, 9, 190, 1) 100%
  );
  border: linear-gradient(
    331deg,
    rgba(140, 0, 199, 1) 0%,
    rgba(30, 9, 190, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8c00c7",endColorstr="#1e09be",GradientType=1);
}



.text-focus-in {
  -webkit-animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
  }

  100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
  }

  100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
  }
}

.wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 2s both;
  animation: wobble-hor-bottom 2s both;
}


@-webkit-keyframes wobble-hor-bottom {

  0%,
  100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }

  15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
  }

  30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
  }

  45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
  }

  75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes wobble-hor-bottom {

  0%,
  100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  }

  15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
      transform: translateX(-30px) rotate(-6deg);
  }

  30% {
      -webkit-transform: translateX(15px) rotate(6deg);
      transform: translateX(15px) rotate(6deg);
  }

  45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
      transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
      transform: translateX(9px) rotate(2.4deg);
  }

  75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
      transform: translateX(-6px) rotate(-1.2deg);
  }
}

